/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --text-color: rgb(38, 34, 34);
}

* {
  font-family: "Grenze Gotisch", serif;
  font-style: normal;
}

.close {
  display: flex;
  justify-content: end;
}

.close-image-btn {
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.sidebar {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.container {
  display: none;
  flex-direction: column;
  background-color: rgba(108, 105, 105, 0.597);
  border-radius: 5px;
  height: 100%;
  min-height: 100vh;
  width: 80vh;
  border: 2px solid rgb(79, 78, 78);
}

form {
  margin: 5px;
  display: grid;
  gap: 1rem;
}

.form-group {
  display: grid;
  margin: 2px;
}

label {
  font-size: 1.2rem;
  color: var(--text-color);
}

input {
  background-color: transparent;
  color: var(--text-color);
}

.input {
  border: 2px solid rgb(87, 79, 79);
  border-radius: 10px;
}

#submit {
  justify-self: center;

  &:hover {
    cursor: pointer;
    border-color: rgb(57, 56, 56);
    background-color: rgb(113, 112, 112);
    color: rgb(184, 182, 182);
  }
}

p {
  color: var(--text-color);
  margin: 5px;
}

a {
  color: rgb(129, 129, 129);

  &:hover {
    color: var(--text-color);
  }
}

.home {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-button {
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: 3px solid black;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

  &:hover {
    cursor: pointer;
  }
}
